<div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">MI LOGO</a>
        
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="alp">Add Latest Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="latprodash">Latest Product Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="pro">Add Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="prodash">Product Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="userdash">User Management</a>
            </li>

          </ul>
        </nav>
    </div>