<div style="width: 100%; height:40%; background-color: black;" class="jumbotron">
    <h1 style="color:white; text-align: center;">Admin Panel</h1>
</div>  
<div style="padding-top: 40px;">  
          <ul style="text-align: center;list-style-type: none">
            <li> <a class="button button1" [routerLink]="['/home']">Home</a></li>
            <li><a class="button button1"  [routerLink]="['/alp']">Add Latest product</a></li>
            <li><a class="button button1" [routerLink]="['/latprodash']">Latest Product Management</a></li>
            <li><a class="button button1"  [routerLink]="['/pro']">Add product</a></li>
            <li><a class="button button1" [routerLink]="['/prodash']">Product Management</a></li>
            <li><a class="button button1" [routerLink]="['/userdash']">User Management</a></li>
        </ul>
</div>

  