<div class="jumbotron">
    <form [formGroup]= "form" (ngSubmit)="register()">
    <div style="text-align:center">
        <h1>Latest Product Specifications</h1>
    </div>

      
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="product_name">Product Name</label>  
        <div class="col-md-4">
        <input id="product_name" name="product_name" formControlName="product_name" class="form-control input-md" required="" type="text">
          
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-md-4 control-label" for="product_image">Product image</label>
        <div class="col-md-4">
          <input id="product_image" name="product_image" class="form-control input-md" formControlName="product_image"  type="text">
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="camera">Camera</label>  
        <div class="col-md-4">
        <input id="camera" name="camera" formControlName="camera" class="form-control input-md" required="" type="textarea">
        </div>
      </div>
     
      <div class="form-group">
        <label class="col-md-4 control-label" for="camera_image">Camera image</label>
        <div class="col-md-4">
          <input id="camera_image" name="camera_image" class="form-control input-md" formControlName="camera_image"  type="text">
        </div>
      </div>
    
      <div class="form-group">
        <label class="col-md-4 control-label" for="processor">Processor</label>  
        <div class="col-md-4">
        <input id="processor" name="processor"  formControlName="processor" class="form-control input-md" required="" type="textarea">
        </div>
      </div>


      <div class="form-group">
        <label class="col-md-4 control-label" for="processor_image">Processor image</label>
        <div class="col-md-4">
          <input id="processor_image" name="processor_image" class="form-control input-md" formControlName="processor_image"  type="text">
        </div>
      </div>

     <div class="form-group">
        <label class="col-md-4 control-label" for="display">Display</label>  
        <div class="col-md-4">
        <input id="display" name="display"  formControlName="display" class="form-control input-md" required="" type="textarea">
        </div>
      </div>


      <div class="form-group">
        <label class="col-md-4 control-label" for="display_image">Display image</label>
        <div class="col-md-4">
          <input id="display_image" name="display_image" class="form-control input-md" formControlName="display_image" type="text">
        </div>
      </div>
    
    
      <div class="form-group">
        <label class="col-md-4 control-label" for="storage">Storage and Ram </label>  
        <div class="col-md-4">
        <input id="storage" name="storage"  formControlName="storage" class="form-control input-md" required="" type="textarea">
        </div>
      </div>


      <div class="form-group">
        <label class="col-md-4 control-label" for="storage_image">Storage image</label>
        <div class="col-md-4">
          <input id="storage_image" name="storage_image" class="form-control input-md" formControlName="storage_image" type="text">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="battery">Charging and Battery </label>  
        <div class="col-md-4">
        <input id="battery" name="battery" formControlName="battery"  class="form-control input-md" required="" type="text">
        </div>
      </div>
    

      <div class="form-group">
        <label class="col-md-4 control-label" for="battery_image">Battery image</label>
        <div class="col-md-4">
          <input id="battery_image" name="battery_image" class="form-control input-md" formControlName="battery_image" type="text">
        </div>
      </div>
      
     
      <!-- Button -->
    <div class="form-group">
        <div class="col-md-4">
          <button type="submit" class="btn btn-success">submit</button>
        </div>
        </div>
      
      </form>
    </div>
    
   